.App {
  text-align: center;
}

.addingNumber {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  font-style: italic;
  border-radius: 30px;
  box-shadow: black;
  color: black;
}

.button {
  color: rgb(19, 18, 18);
  font-style: italic;
  font-weight: 800;
  font-size: large;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  padding: 20px;
  margin: 30px;
  border-radius: 20px;
  background-color: #1f011a3f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
